@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 1px;
}

#landing-section {
  background-image: url("./images/icons/background.svg");
  background-repeat: no-repeat;
  background-position-y: 120px;
  background-position-x: 15px;
}

.color-base {
  color: #172b4d;
}

.color-contrast {
  color: #36b37e;
}

.color-secondary {
  color: #3a4a42;
}

.button-states {
  background: #36b37f;
  border-radius: 4px;
}

.button-states:hover {
  background: #36b37f;
  box-shadow: 1px 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
}

.button-states:focus {
  background: #008552;
  border-radius: 4px;
}

#logo {
  width: 80px;
}

a {
  color: black;
  text-decoration: none;
}

@media (max-width: 500px) {
  .navbar-list {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    padding: 20px;
  }
}

#hero-section {
  text-align: center;
}

#hero-section > h1 {
  padding-top: 15px;
  font-size: 3em;
  line-height: 1.5em;
}

#hero-section p {
  margin: auto;
  width: 80%;
  text-align: center;
  font-size: medium;
  line-height: 1.5em;
}

.social-links {
  max-width: 50%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-content: space-between;
}

.social-links > img {
  flex: 1;
  text-align: center;
  padding: 10px;
  padding-top: 50px;
  margin: auto;
}

ul > li {
  list-style: none;
  display: flex;
  align-content: space-between;
  padding: 10px;
  padding-top: 50px;
}

#down-arrow {
  padding-top: 20px;
}

#portfolio-section {
  display: flex;
  flex-direction: column;
}

.section-header {
  margin: auto;
  padding-top: 20px;
  font-size: 40px;
  width: 70%;
  text-align: center;
  font-weight: 800;
}

#indicator {
  margin: auto;
  display: block;
  width: 48px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 327px;
  height: 474px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.portfolio-desc {
  margin: auto;
  width: 327px;
  background-color: white;
  border-radius: 8px;
}

.project-title {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #3a4a42;
  font-size: 24px;
  text-align: center;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  border: none;
  justify-content: space-between;
}

.tag {
  background-color: #ebf0ee;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  font-size: 12px;
  justify-content: space-between;
}

.see-project {
  margin: auto;
  margin-top: 25px;
  position: relative;
  align-content: center;
  color: white;
  background-color: #36b37f;
  border-radius: 4px;
  border: none;
  width: 122px;
  height: 48px;
  left: calc(50% - 122px / 2 + 0.5px);
  bottom: 8px;
}

.about-section-details {
  margin: auto;
  margin-top: 20px;
  width: 80%;
  text-align: center;
  line-height: 1.5em;
  color: #42526e;
  font-size: 20px;
}

.about_illus {
  background-image: 
    url("./images/a1.svg"), url("./images/a2.svg");
  background-position: right top;
  background-repeat: no-repeat, no-repeat;
}

.about-desc {
  margin: auto;
  margin-top: 50px;
  height: 352px;
  width: 327px;
  border-radius: 8px;
  background-color: #ebf0ee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-icon {
  padding-top: 30px;
}

.about-desc-font {
  font-size: 24px;
  color: #344563;
  padding-bottom: 20px;
}

ul > .lists {
  background-color: white;
  color: #36b37e;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  font-size: 12px;
  margin: 3px;
}

#contact-message {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#contact-message > * {
  align-items: center;
  justify-content: space-between;
}

#email-text {
  font-size: 20px;
  color: #42526e;
}

#get-in-touch {
  position: inherit;
}

.form-fields {
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  height: 48px;
  width: 327px;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}

#description {
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  height: 114px;
  width: 327px;
  padding-top: 0;
}

#empty-footer {
  height: 327px;
}
