@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 1px;
}

#landing-section {
  background-image: url("./images/icons/background.svg");
  background-repeat: no-repeat;
  background-position-y: 100px;
  background-position-x: 15px;
}

.color-base {
  color: #172b4d;
}

.color-contrast {
  color: #36b37e;
}

.color-secondary {
  color: #3a4a42;
}

.button-states {
  background: #36b37f;
  border-radius: 4px;
}

.button-states:hover {
  background: #36b37f;
  box-shadow: 1px 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
}

.button-states:focus {
  background: #008552;
  border-radius: 4px;
}

#logo {
  width: 60px;
}

a {
  color: black;
  text-decoration: none;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.text-center {
  text-align: center;
}


#hero-section > h1 {
  padding-top: 15px;
  font-size: 3em;
  line-height: 1.5em;
}

#hero-section p {
  margin: auto;
  width: 80%;
  text-align: center;
  font-size: medium;
  line-height: 1.5em;
  padding-bottom: 50px;
}

#social-links {
  width: 50%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

#social-links > * {
  list-style: none;
}

#down-arrow {
  padding-top: 70px;
}

#portfolio-section {
  display: flex;
  flex-direction: column;
}

.section-header {
  margin: auto;
  padding-top: 20px;
  font-size: 40px;
  width: 70%;
  text-align: center;
  font-weight: 800;
}

#indicator {
  margin: auto;
  display: block;
  width: 48px;
  padding-top: 20px;
  padding-bottom: 40px;
}

#portfolios {
  width: 90%;
  margin: auto;
  display: grid;
  row-gap: 25px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.portfolio-desc {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
}

.project-title {
  color: #3a4a42;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.tags {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.tag {
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 12px;
  list-style: none;
  margin: 5px;
}

.primary-button {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  align-content: center;
  color: white;
  background-color: #36b37f;
  border-radius: 4px;
  border: none;
  width: 122px;
  height: 48px;
}

#get-resume {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-section-details {
  margin: auto;
  margin-top: 20px;
  width: 80%;
  text-align: center;
  line-height: 1.5em;
  color: #42526e;
  font-size: 20px;
}

.about_illus {
  background-image: url("./images/a1.svg"), url("./images/a2.svg");
  background-position: right top;
  background-repeat: no-repeat, no-repeat;
}

.about-desc {
  margin: auto;
  margin-top: 50px;
  height: 352px;
  width: 327px;
  border-radius: 8px;
  background-color: #ebf0ee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-icon {
  padding-top: 30px;
}

.about-desc-font {
  font-size: 24px;
  color: #344563;
  padding-bottom: 20px;
}

.about-section-detail {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.about-section-detail > .lists {
  background-color: white;
  color: #36b37e;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 12px;
  list-style: none;
  margin: 5px;
}

#contact-message {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#email-text {
  font-size: 20px;
  color: #42526e;
}

#get-in-touch {
  position: inherit;
 }

.form-fields {
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  height: 48px;
  width: 327px;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}

#description {
  border: 1px solid #60C095;
  box-sizing: border-box;
  border-radius: 4px;
  height: 114px;
  width: 327px;
  padding-top: 12px;
  font-family: "Roboto", sans-serif;
}

#empty-footer {
  height: 327px;
}

#contact-message {
  background-image: url("./images/icons/illus-contact.svg");
  background-repeat: no-repeat;
  background-position-y: 744px;
  background-position-x: 336px;
}

#indicator_last {
  margin: auto;
  display: block;
  padding-bottom: 5px;
}
