@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

* {
  font-size: 62.5%; /*10/16 = 62.5%*/
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 1px;
  font-size: 1.7rem;
}

#landing-section {
  background-image: url("./images/bg/background.svg");
  background-repeat: no-repeat;
  background-position: 16px 60px;
}

@media (min-width: 990px) {
  #landing-section {
    background-image: url("./images/bg/head-desk1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 147vh;
  }
}

.color-base {
  color: #172b4d;
}

.color-contrast {
  color: #36b37e;
}

.color-secondary {
  color: #3a4a42;
}

.button-states {
  background: #36b37f;
  border-radius: 4px;
}

.button-states:hover {
  background: #36b37f;
  box-shadow: 1px 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
}

.button-states:focus {
  background: #008552;
  border-radius: 4px;
}

#logo {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #36b37f;
}

a {
  color: black;
  text-decoration: none;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

@media (min-width: 990px) {
  .navbar-list {
    display: none;
  }
}

.navbar-list-desktop {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-left: 16px;
  width: 250px;
  margin: auto;
}

@media (max-width: 990px) {
  .navbar-list-desktop {
    display: none;
  }
}

.navbar-list-desktop > li > a {
  color: #344563;
}

.text-center {
  text-align: center;
}

#hero-section > h1 {
  padding-top: 15px;
  font-size: 3rem;
  line-height: 1.5em;
}

@media (min-width: 990px) {
  #hero-section {
    padding-top: 175px;
  }
}

#hero-section p {
  margin: auto;
  width: 60%;
  line-height: 1.5em;
  padding-bottom: 25px;
  color: #172b4d;
}

.social-links {
  width: 50%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.social-links > * {
  list-style: none;
}

@media (min-width: 990px) {
  #hero-section .social-links {
    width: 15%;
  }
}

#down-arrow {
  padding-top: 50px;
}

#portfolio-section {
  display: flex;
  flex-direction: column;
}

.section-header {
  margin: auto;
  padding-top: 20px;
  font-size: 4rem;
  width: 70%;
  text-align: center;
  font-weight: 800;
}

#indicator_last-Desktop {
  display: none;
}

@media (min-width: 990px) {
  #indicator_last-Desktop {
    display: block;
    padding-bottom: 40px;
  }
}

#indicator {
  display: block;
  margin: auto;
  width: 48px;
  padding-top: 20px;
}

@media (min-width: 990px) {
  #indicator {
    display: none;
  }
}

#my-recent-works-header {
  margin-bottom: 48px;
}

@media (min-width: 990px) {
  #email-text {
    display: none;
  }
}

#portfolios {
  width: 88.1%;
  margin: auto;
  display: grid;
  row-gap: 15px;
  column-gap: 15px;
}

@media (min-width: 990px) {
  #portfolios {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  #portfolios {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.portfolio {
  display: flex;
  flex-direction: column;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.portfolio-desc {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
}

.project-title {
  color: #3a4a42;
  font-size: 2.4rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.tags {
  margin: 1px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1px;
}

.tag {
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  
  /*font-size: 12px;*/
  
  list-style: none;
  margin: 5px;
}

.primary-button {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  align-content: center;
  color: white;
  background-color: #36b37f;
  border-radius: 4px;
  border: none;
  width: 122px;
  height: 48px;
}

#get-resume {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-section {
  padding-top: 48px;
}

.about-section-details {
  margin: auto;
  width: 77.6%;
  text-align: center;
  line-height: 1.5em;
  color: #42526e;
  font-size: 2rem;
}

@media (min-width: 990px) {
  .about-section-details {
    width: 50%;
  }
}

.about_illus {
  background-image: url("./images/bg/a1.svg"), url("./images/bg/a2.svg");
  background-repeat: no-repeat;
  background-position: 325px 0%, 0% 0%;
}

@media (min-width: 990px) {
  .about_illus {
    background-image: url("./images/bg/a1.svg"), url("./images/bg/a2.svg");
    background-repeat: no-repeat;
    background-position: 1520px 5%, 0% -40%;
  }
}

.about-desc {
  margin: auto;
  height: 352px;
  width: 88.1%;
  border-radius: 8px;
  background-color: #ebf0ee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-cards {
  width: 88.1%;
  margin: auto;
  display: grid;
  row-gap: 25px;
  margin-top: 50px;
}

@media (min-width: 990px) {
  #about-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  #about-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.about-icon {
  padding-top: 30px;
}

.about-desc-font {
  font-size: 2.4rem;
  color: #344563;
  padding-bottom: 20px;
}

.about-section-detail {
  margin: 1px;
  display: flex;
  flex-wrap: wrap;
  padding: 1px;
}

.about-section-detail > .lists {
  background-color: white;
  color: #36b37e;
  border-radius: 4px;
  padding: 8px 12px;
  
  /*font-size: 12px;*/
  
  list-style: none;
  margin: 5px;
}

#contact-message {
  background-image: url("./images/icons/illus-contact.svg");
  background-repeat: no-repeat;
  background-position: 335px 61%;
}

@media (min-width: 990px) {
  #contact-message {
    background-image:
      url("./images/bg/condes1.svg"),
      url("./images/bg/condes2.svg"),
      url("./images/bg/condes3.svg");
    background-repeat: no-repeat;
    background-position: 0 82%, 29% 75%, 100% 82%;
  }
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 327px;
  margin: auto;
}

@media (min-width: 992px) {
  form {
    width: 654px;
  }
}

#email-text {
  font-size: 2rem;
  color: #42526e;
  text-align: center;
}

#get-in-touch {
  position: inherit;
}

.form-fields {
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  height: 48px;
  width: 303px;
  padding: 10px;
  margin: 12px;
}

#description {
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
  height: 114px;
  width: 654px;
  padding-top: 12px;
  font-family: "Roboto", sans-serif;
}

#empty-footer {
  height: 327px;
}

@media (min-width: 990px) {
  #empty-footer {
    display: none;
  }
}

#indicator_last {
  margin: auto;
  display: block;
  padding-bottom: 5px;
}

#footer-top {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

@media (min-width: 990px) {
  #footer-top {
    padding-top: 160px;
    width: 85%;
    display: flex;
    margin: auto;
  }
}

#footer-text {
  line-height: 52px;
  font-size: 4rem;
  text-align: center;
  width: 90%;
  margin: auto;
  padding-top: 60px;
}

@media (min-width: 990px) {
  #footer-text {
    line-height: 52px;
    text-align: justify;
    padding-bottom: 63px;
    width: 30%;
  }
}

@media (min-width: 990px) {
  #footer-text {
    font-size: 3rem;
  }
}

@media (min-width: 990px) {
  #footer-top {
    flex-wrap: nowrap;
    text-align: justify;
    justify-content: space-around;
  }
}

#footer-middile {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: none;
}

@media (min-width: 990px) {
  #footer-middile {
    border-top: 1px solid grey;
    width: 100%;
    margin-top: 20%;
  }
}

#footer-middile > * {
  justify-content: center;
  padding: 20px;
}

#footer-middile > .social-links > li {
  margin-left: 10px;
  margin-right: 10px;
}
